:root[data-theme="dark"] {
    --white: #121212;
    --black: #FFFFFF;

    --red-1: #4D000A;
    --red-2: #770611;
    --red-3: #A1161F;
    --red-4: #CB2E34;
    --red-5: #F54E4E;
    --red-6: #F76965;
    --red-7: #F98D86;
    --red-8: #FBB0A7;
    --red-9: #FDD1CA;
    --red-10: #FFF0EC;

    --orangered-1: #4D0E00;
    --orangered-2: #771E05;
    --orangered-3: #A23714;
    --orangered-4: #CC5729;
    --orangered-5: #F77E45;
    --orangered-6: #F9925A;
    --orangered-7: #FAAD7D;
    --orangered-8: #FCC6A1;
    --orangered-9: #FDDEC5;
    --orangered-10: #FFF4EB;

    --orange-1: #4D1B00;
    --orange-2: #793004;
    --orange-3: #A64B0A;
    --orange-4: #D26913;
    --orange-5: #FF8D1F;
    --orange-6: #FF9626;
    --orange-7: #FFB357;
    --orange-8: #FFCD87;
    --orange-9: #FFE3B8;
    --orange-10: #FFF7E8;

    --gold-1: #4D2D00;
    --gold-2: #774B04;
    --gold-3: #A26F0F;
    --gold-4: #CC961F;
    --gold-5: #F7C034;
    --gold-6: #F9CC44;
    --gold-7: #FADC6C;
    --gold-8: #FCE995;
    --gold-9: #FDF4BE;
    --gold-10: #FFFCE8;

    --yellow-1: #4D3800;
    --yellow-2: #785E07;
    --yellow-3: #A38614;
    --yellow-4: #CFB325;
    --yellow-5: #FAE13C;
    --yellow-6: #FBE94B;
    --yellow-7: #FCF374;
    --yellow-8: #FDFA9D;
    --yellow-9: #FEFEC6;
    --yellow-10: #FEFFF0;

    --lime-1: #2A4D00;
    --lime-2: #447006;
    --lime-3: #629412;
    --lime-4: #84B723;
    --lime-5: #A8DB39;
    --lime-6: #B8E24B;
    --lime-7: #CBE970;
    --lime-8: #DEF198;
    --lime-9: #EEF8C2;
    --lime-10: #FDFFEE;

    --green-1: #004D1C;
    --green-2: #046625;
    --green-3: #0A802D;
    --green-4: #129A37;
    --green-5: #1DB440;
    --green-6: #27C346;
    --green-7: #50D266;
    --green-8: #7EE18B;
    --green-9: #B2F0B7;
    --green-10: #EBFFEC;

    --cyan-1: #00424D;
    --cyan-2: #06616C;
    --cyan-3: #11838B;
    --cyan-4: #1FA6AA;
    --cyan-5: #30C9C9;
    --cyan-6: #3FD4CF;
    --cyan-7: #66DFD7;
    --cyan-8: #90E9E1;
    --cyan-9: #BEF4ED;
    --cyan-10: #F0FFFC;

    --blue-1: #001A4D;
    --blue-2: #0B2E69;
    --blue-3: #134CA3;
    --blue-4: #2971CF;
    --blue-5: #469AFA;
    --blue-6: #5AAAFB;
    --blue-7: #7DC1FC;
    --blue-8: #A1D5FD;
    --blue-9: #C6E8FE;
    --blue-10: #EAF8FF;

    --arcoblue-1: #000D4D;
    --arcoblue-2: #041B79;
    --arcoblue-3: #0E32A6;
    --arcoblue-4: #1D4DD2;
    --arcoblue-5: #306FFF;
    --arcoblue-6: #3C7EFF;
    --arcoblue-7: #689FFF;
    --arcoblue-8: #93BEFF;
    --arcoblue-9: #BEDAFF;
    --arcoblue-10: #EAF4FF;

    --purple-1: #16004D;
    --purple-2: #27066E;
    --purple-3: #3E138F;
    --purple-4: #5A25B0;
    --purple-5: #7B3DD1;
    --purple-6: #8E51DA;
    --purple-7: #A974E3;
    --purple-8: #C59AED;
    --purple-9: #DFC2F6;
    --purple-10: #F7EDFF;

    --pinkpurple-1: #42004D;
    --pinkpurple-2: #650370;
    --pinkpurple-3: #8A0D93;
    --pinkpurple-4: #B01BB6;
    --pinkpurple-5: #D92ED9;
    --pinkpurple-6: #E13DDB;
    --pinkpurple-7: #E866DF;
    --pinkpurple-8: #F092E6;
    --pinkpurple-9: #F7C1F0;
    --pinkpurple-10: #FFF2FD;

    --magenta-1: #4D0034;
    --magenta-2: #770850;
    --magenta-3: #A1176C;
    --magenta-4: #CB2B88;
    --magenta-5: #F545A6;
    --magenta-6: #F756A9;
    --magenta-7: #F97AB8;
    --magenta-8: #FB9EC8;
    --magenta-9: #FDC3DB;
    --magenta-10: #FFE8F1;

    --gray-1: #1d2129;
    --gray-2: #272e3b;
    --gray-3: #4e5969;
    --gray-4: #6b7785;
    --gray-5: #86909c;
    --gray-6: #a9aeb8;
    --gray-7: #c9cdd4;
    --gray-8: #e5e6eb;
    --gray-9: #f2f3f5;
    --gray-10: #f7f8fa;
}

:root[data-theme="dark"] {
    --white-rgb: 18, 18, 18;
    --black-rgb: 255, 255, 255;

    --red-1-rgb: 77, 0, 10;
    --red-2-rgb: 119, 6, 17;
    --red-3-rgb: 161, 22, 31;
    --red-4-rgb: 203, 46, 52;
    --red-5-rgb: 245, 78, 78;
    --red-6-rgb: 247, 105, 101;
    --red-7-rgb: 249, 141, 134;
    --red-8-rgb: 251, 176, 167;
    --red-9-rgb: 253, 209, 202;
    --red-10-rgb: 255, 240, 236;
    --orangered-1-rgb: 77, 14, 0;
    --orangered-2-rgb: 119, 30, 5;
    --orangered-3-rgb: 162, 55, 20;
    --orangered-4-rgb: 204, 87, 41;
    --orangered-5-rgb: 247, 126, 69;
    --orangered-6-rgb: 249, 146, 90;
    --orangered-7-rgb: 250, 173, 125;
    --orangered-8-rgb: 252, 198, 161;
    --orangered-9-rgb: 253, 222, 197;
    --orangered-10-rgb: 255, 244, 235;
    --orange-1-rgb: 77, 27, 0;
    --orange-2-rgb: 121, 48, 4;
    --orange-3-rgb: 166, 75, 10;
    --orange-4-rgb: 210, 105, 19;
    --orange-5-rgb: 255, 141, 31;
    --orange-6-rgb: 255, 150, 38;
    --orange-7-rgb: 255, 179, 87;
    --orange-8-rgb: 255, 205, 135;
    --orange-9-rgb: 255, 227, 184;
    --orange-10-rgb: 255, 247, 232;
    --gold-1-rgb: 77, 45, 0;
    --gold-2-rgb: 119, 75, 4;
    --gold-3-rgb: 162, 111, 15;
    --gold-4-rgb: 204, 150, 31;
    --gold-5-rgb: 247, 192, 52;
    --gold-6-rgb: 249, 204, 68;
    --gold-7-rgb: 250, 220, 108;
    --gold-8-rgb: 252, 233, 149;
    --gold-9-rgb: 253, 244, 190;
    --gold-10-rgb: 255, 252, 232;
    --yellow-1-rgb: 77, 56, 0;
    --yellow-2-rgb: 120, 94, 7;
    --yellow-3-rgb: 163, 134, 20;
    --yellow-4-rgb: 207, 179, 37;
    --yellow-5-rgb: 250, 225, 60;
    --yellow-6-rgb: 251, 233, 75;
    --yellow-7-rgb: 252, 243, 116;
    --yellow-8-rgb: 253, 250, 157;
    --yellow-9-rgb: 254, 254, 198;
    --yellow-10-rgb: 254, 255, 240;
    --lime-1-rgb: 42, 77, 0;
    --lime-2-rgb: 68, 112, 6;
    --lime-3-rgb: 98, 148, 18;
    --lime-4-rgb: 132, 183, 35;
    --lime-5-rgb: 168, 219, 57;
    --lime-6-rgb: 184, 226, 75;
    --lime-7-rgb: 203, 233, 112;
    --lime-8-rgb: 222, 241, 152;
    --lime-9-rgb: 238, 248, 194;
    --lime-10-rgb: 253, 255, 238;
    --green-1-rgb: 0, 77, 28;
    --green-2-rgb: 4, 102, 37;
    --green-3-rgb: 10, 128, 45;
    --green-4-rgb: 18, 154, 55;
    --green-5-rgb: 29, 180, 64;
    --green-6-rgb: 39, 195, 70;
    --green-7-rgb: 80, 210, 102;
    --green-8-rgb: 126, 225, 139;
    --green-9-rgb: 178, 240, 183;
    --green-10-rgb: 235, 255, 236;
    --cyan-1-rgb: 0, 66, 77;
    --cyan-2-rgb: 6, 97, 108;
    --cyan-3-rgb: 17, 131, 139;
    --cyan-4-rgb: 31, 166, 170;
    --cyan-5-rgb: 48, 201, 201;
    --cyan-6-rgb: 63, 212, 207;
    --cyan-7-rgb: 102, 223, 215;
    --cyan-8-rgb: 144, 233, 225;
    --cyan-9-rgb: 190, 244, 237;
    --cyan-10-rgb: 240, 255, 252;
    --blue-1-rgb: 0, 26, 77;
    --blue-2-rgb: 11, 46, 105;
    --blue-3-rgb: 19, 76, 163;
    --blue-4-rgb: 41, 113, 207;
    --blue-5-rgb: 70, 154, 250;
    --blue-6-rgb: 90, 170, 251;
    --blue-7-rgb: 125, 193, 252;
    --blue-8-rgb: 161, 213, 253;
    --blue-9-rgb: 198, 232, 254;
    --blue-10-rgb: 234, 248, 255;
    --arcoblue-1-rgb: 0, 13, 77;
    --arcoblue-2-rgb: 4, 27, 121;
    --arcoblue-3-rgb: 14, 50, 166;
    --arcoblue-4-rgb: 29, 77, 210;
    --arcoblue-5-rgb: 48, 111, 255;
    --arcoblue-6-rgb: 60, 126, 255;
    --arcoblue-7-rgb: 104, 159, 255;
    --arcoblue-8-rgb: 147, 190, 255;
    --arcoblue-9-rgb: 190, 218, 255;
    --arcoblue-10-rgb: 234, 244, 255;
    --purple-1-rgb: 22, 0, 77;
    --purple-2-rgb: 39, 6, 110;
    --purple-3-rgb: 62, 19, 143;
    --purple-4-rgb: 90, 37, 176;
    --purple-5-rgb: 123, 61, 209;
    --purple-6-rgb: 142, 81, 218;
    --purple-7-rgb: 169, 116, 227;
    --purple-8-rgb: 197, 154, 237;
    --purple-9-rgb: 223, 194, 246;
    --purple-10-rgb: 247, 237, 255;
    --pinkpurple-1-rgb: 66, 0, 77;
    --pinkpurple-2-rgb: 101, 3, 112;
    --pinkpurple-3-rgb: 138, 13, 147;
    --pinkpurple-4-rgb: 176, 27, 182;
    --pinkpurple-5-rgb: 217, 46, 217;
    --pinkpurple-6-rgb: 225, 61, 219;
    --pinkpurple-7-rgb: 232, 102, 223;
    --pinkpurple-8-rgb: 240, 146, 230;
    --pinkpurple-9-rgb: 247, 193, 240;
    --pinkpurple-10-rgb: 255, 242, 253;
    --magenta-1-rgb: 77, 0, 52;
    --magenta-2-rgb: 119, 8, 80;
    --magenta-3-rgb: 161, 23, 108;
    --magenta-4-rgb: 203, 43, 136;
    --magenta-5-rgb: 245, 69, 166;
    --magenta-6-rgb: 247, 86, 169;
    --magenta-7-rgb: 249, 122, 184;
    --magenta-8-rgb: 251, 158, 200;
    --magenta-9-rgb: 253, 195, 219;
    --magenta-10-rgb: 255, 232, 241;
    --gray-1-rgb: 29, 33, 41;
    --gray-2-rgb: 39, 46, 59;
    --gray-3-rgb: 78, 89, 105;
    --gray-4-rgb: 107, 119, 133;
    --gray-5-rgb: 134, 144, 156;
    --gray-6-rgb: 169, 174, 184;
    --gray-7-rgb: 201, 205, 212;
    --gray-8-rgb: 229, 230, 235;
    --gray-9-rgb: 242, 243, 245;
    --gray-10-rgb: 247, 248, 250;
}