:root {
    --white: #FFFFFF;
    --black: #000000;

    --red-1: #FFECE8;
    --red-2: #FDCDC5;
    --red-3: #FBACA3;
    --red-4: #F98981;
    --red-5: #F76560;
    --red-6: #F53F3F;
    --red-7: #CB272D;
    --red-8: #A1151E;
    --red-9: #770813;
    --red-10: #4D000A;

    --orangered-1: #FFF3E8;
    --orangered-2: #FDDDC3;
    --orangered-3: #FCC59F;
    --orangered-4: #FAAC7B;
    --orangered-5: #F99057;
    --orangered-6: #F77234;
    --orangered-7: #CC5120;
    --orangered-8: #A23511;
    --orangered-9: #771F06;
    --orangered-10: #4D0E00;

    --orange-1: #FFF7E8;
    --orange-2: #FFE4BA;
    --orange-3: #FFCF8B;
    --orange-4: #FFB65D;
    --orange-5: #FF9A2E;
    --orange-6: #FF7D00;
    --orange-7: #D25F00;
    --orange-8: #A64500;
    --orange-9: #792E00;
    --orange-10: #4D1B00;

    --gold-1: #FFFCE8;
    --gold-2: #FDF4BF;
    --gold-3: #FCE996;
    --gold-4: #FADC6D;
    --gold-5: #F9CC45;
    --gold-6: #F7BA1E;
    --gold-7: #CC9213;
    --gold-8: #A26D0A;
    --gold-9: #774B04;
    --gold-10: #4D2D00;

    --yellow-1: #FEFFE8;
    --yellow-2: #FEFEBE;
    --yellow-3: #FDFA94;
    --yellow-4: #FCF26B;
    --yellow-5: #FBE842;
    --yellow-6: #FADC19;
    --yellow-7: #CFAF0F;
    --yellow-8: #A38408;
    --yellow-9: #785D03;
    --yellow-10: #4D3800;

    --lime-1: #FCFFE8;
    --lime-2: #EDF8BB;
    --lime-3: #DCF190;
    --lime-4: #C9E968;
    --lime-5: #B5E241;
    --lime-6: #9FDB1D;
    --lime-7: #7EB712;
    --lime-8: #5F940A;
    --lime-9: #437004;
    --lime-10: #2A4D00;

    --green-1: #E8FFEA;
    --green-2: #AFF0B5;
    --green-3: #7BE188;
    --green-4: #4CD263;
    --green-5: #23C343;
    --green-6: #00B42A;
    --green-7: #009A29;
    --green-8: #008026;
    --green-9: #006622;
    --green-10: #004D1C;

    --cyan-1: #E8FFFB;
    --cyan-2: #B7F4EC;
    --cyan-3: #89E9E0;
    --cyan-4: #5EDFD6;
    --cyan-5: #37D4CF;
    --cyan-6: #14C9C9;
    --cyan-7: #0DA5AA;
    --cyan-8: #07828B;
    --cyan-9: #03616C;
    --cyan-10: #00424D;

    --blue-1: #E8F7FF;
    --blue-2: #C3E7FE;
    --blue-3: #9FD4FD;
    --blue-4: #7BC0FC;
    --blue-5: #57A9FB;
    --blue-6: #3491FA;
    --blue-7: #206CCF;
    --blue-8: #114BA3;
    --blue-9: #063078;
    --blue-10: #001A4D;

    --arcoblue-1: #E8F3FF;
    --arcoblue-2: #BEDAFF;
    --arcoblue-3: #94BFFF;
    --arcoblue-4: #6AA1FF;
    --arcoblue-5: #4080FF;
    --arcoblue-6: #165DFF;
    --arcoblue-7: #0E42D2;
    --arcoblue-8: #072CA6;
    --arcoblue-9: #031A79;
    --arcoblue-10: #000D4D;

    --purple-1: #F5E8FF;
    --purple-2: #DDBEF6;
    --purple-3: #C396ED;
    --purple-4: #A871E3;
    --purple-5: #8D4EDA;
    --purple-6: #722ED1;
    --purple-7: #551DB0;
    --purple-8: #3C108F;
    --purple-9: #27066E;
    --purple-10: #16004D;

    --pinkpurple-1: #FFE8FB;
    --pinkpurple-2: #F7BAEF;
    --pinkpurple-3: #F08EE6;
    --pinkpurple-4: #E865DF;
    --pinkpurple-5: #E13EDB;
    --pinkpurple-6: #D91AD9;
    --pinkpurple-7: #B010B6;
    --pinkpurple-8: #8A0993;
    --pinkpurple-9: #650370;
    --pinkpurple-10: #42004D;

    --magenta-1: #FFE8F1;
    --magenta-2: #FDC2DB;
    --magenta-3: #FB9DC7;
    --magenta-4: #F979B7;
    --magenta-5: #F754A8;
    --magenta-6: #F5319D;
    --magenta-7: #CB1E83;
    --magenta-8: #A11069;
    --magenta-9: #77064F;
    --magenta-10: #4D0034;

    --gray-1: #f7f8fa;
    --gray-2: #f2f3f5;
    --gray-3: #e5e6eb;
    --gray-4: #c9cdd4;
    --gray-5: #a9aeb8;
    --gray-6: #86909c;
    --gray-7: #6b7785;
    --gray-8: #4e5969;
    --gray-9: #272e3b;
    --gray-10: #1d2129;
}

:root {
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;

    --red-1-rgb: 255, 236, 232;
    --red-2-rgb: 253, 205, 197;
    --red-3-rgb: 251, 172, 163;
    --red-4-rgb: 249, 137, 129;
    --red-5-rgb: 247, 101, 96;
    --red-6-rgb: 245, 63, 63;
    --red-7-rgb: 203, 39, 45;
    --red-8-rgb: 161, 21, 30;
    --red-9-rgb: 119, 8, 19;
    --red-10-rgb: 77, 0, 10;
    --orangered-1-rgb: 255, 243, 232;
    --orangered-2-rgb: 253, 221, 195;
    --orangered-3-rgb: 252, 197, 159;
    --orangered-4-rgb: 250, 172, 123;
    --orangered-5-rgb: 249, 144, 87;
    --orangered-6-rgb: 247, 114, 52;
    --orangered-7-rgb: 204, 81, 32;
    --orangered-8-rgb: 162, 53, 17;
    --orangered-9-rgb: 119, 31, 6;
    --orangered-10-rgb: 77, 14, 0;
    --orange-1-rgb: 255, 247, 232;
    --orange-2-rgb: 255, 228, 186;
    --orange-3-rgb: 255, 207, 139;
    --orange-4-rgb: 255, 182, 93;
    --orange-5-rgb: 255, 154, 46;
    --orange-6-rgb: 255, 125, 0;
    --orange-7-rgb: 210, 95, 0;
    --orange-8-rgb: 166, 69, 0;
    --orange-9-rgb: 121, 46, 0;
    --orange-10-rgb: 77, 27, 0;
    --gold-1-rgb: 255, 252, 232;
    --gold-2-rgb: 253, 244, 191;
    --gold-3-rgb: 252, 233, 150;
    --gold-4-rgb: 250, 220, 109;
    --gold-5-rgb: 249, 204, 69;
    --gold-6-rgb: 247, 186, 30;
    --gold-7-rgb: 204, 146, 19;
    --gold-8-rgb: 162, 109, 10;
    --gold-9-rgb: 119, 75, 4;
    --gold-10-rgb: 77, 45, 0;
    --yellow-1-rgb: 254, 255, 232;
    --yellow-2-rgb: 254, 254, 190;
    --yellow-3-rgb: 253, 250, 148;
    --yellow-4-rgb: 252, 242, 107;
    --yellow-5-rgb: 251, 232, 66;
    --yellow-6-rgb: 250, 220, 25;
    --yellow-7-rgb: 207, 175, 15;
    --yellow-8-rgb: 163, 132, 8;
    --yellow-9-rgb: 120, 93, 3;
    --yellow-10-rgb: 77, 56, 0;
    --lime-1-rgb: 252, 255, 232;
    --lime-2-rgb: 237, 248, 187;
    --lime-3-rgb: 220, 241, 144;
    --lime-4-rgb: 201, 233, 104;
    --lime-5-rgb: 181, 226, 65;
    --lime-6-rgb: 159, 219, 29;
    --lime-7-rgb: 126, 183, 18;
    --lime-8-rgb: 95, 148, 10;
    --lime-9-rgb: 67, 112, 4;
    --lime-10-rgb: 42, 77, 0;
    --green-1-rgb: 232, 255, 234;
    --green-2-rgb: 175, 240, 181;
    --green-3-rgb: 123, 225, 136;
    --green-4-rgb: 76, 210, 99;
    --green-5-rgb: 35, 195, 67;
    --green-6-rgb: 0, 180, 42;
    --green-7-rgb: 0, 154, 41;
    --green-8-rgb: 0, 128, 38;
    --green-9-rgb: 0, 102, 34;
    --green-10-rgb: 0, 77, 28;
    --cyan-1-rgb: 232, 255, 251;
    --cyan-2-rgb: 183, 244, 236;
    --cyan-3-rgb: 137, 233, 224;
    --cyan-4-rgb: 94, 223, 214;
    --cyan-5-rgb: 55, 212, 207;
    --cyan-6-rgb: 20, 201, 201;
    --cyan-7-rgb: 13, 165, 170;
    --cyan-8-rgb: 7, 130, 139;
    --cyan-9-rgb: 3, 97, 108;
    --cyan-10-rgb: 0, 66, 77;
    --blue-1-rgb: 232, 247, 255;
    --blue-2-rgb: 195, 231, 254;
    --blue-3-rgb: 159, 212, 253;
    --blue-4-rgb: 123, 192, 252;
    --blue-5-rgb: 87, 169, 251;
    --blue-6-rgb: 52, 145, 250;
    --blue-7-rgb: 32, 108, 207;
    --blue-8-rgb: 17, 75, 163;
    --blue-9-rgb: 6, 48, 120;
    --blue-10-rgb: 0, 26, 77;
    --arcoblue-1-rgb: 232, 243, 255;
    --arcoblue-2-rgb: 190, 218, 255;
    --arcoblue-3-rgb: 148, 191, 255;
    --arcoblue-4-rgb: 106, 161, 255;
    --arcoblue-5-rgb: 64, 128, 255;
    --arcoblue-6-rgb: 22, 93, 255;
    --arcoblue-7-rgb: 14, 66, 210;
    --arcoblue-8-rgb: 7, 44, 166;
    --arcoblue-9-rgb: 3, 26, 121;
    --arcoblue-10-rgb: 0, 13, 77;
    --purple-1-rgb: 245, 232, 255;
    --purple-2-rgb: 221, 190, 246;
    --purple-3-rgb: 195, 150, 237;
    --purple-4-rgb: 168, 113, 227;
    --purple-5-rgb: 141, 78, 218;
    --purple-6-rgb: 114, 46, 209;
    --purple-7-rgb: 85, 29, 176;
    --purple-8-rgb: 60, 16, 143;
    --purple-9-rgb: 39, 6, 110;
    --purple-10-rgb: 22, 0, 77;
    --pinkpurple-1-rgb: 255, 232, 251;
    --pinkpurple-2-rgb: 247, 186, 239;
    --pinkpurple-3-rgb: 240, 142, 230;
    --pinkpurple-4-rgb: 232, 101, 223;
    --pinkpurple-5-rgb: 225, 62, 219;
    --pinkpurple-6-rgb: 217, 26, 217;
    --pinkpurple-7-rgb: 176, 16, 182;
    --pinkpurple-8-rgb: 138, 9, 147;
    --pinkpurple-9-rgb: 101, 3, 112;
    --pinkpurple-10-rgb: 66, 0, 77;
    --magenta-1-rgb: 255, 232, 241;
    --magenta-2-rgb: 253, 194, 219;
    --magenta-3-rgb: 251, 157, 199;
    --magenta-4-rgb: 249, 121, 183;
    --magenta-5-rgb: 247, 84, 168;
    --magenta-6-rgb: 245, 49, 157;
    --magenta-7-rgb: 203, 30, 131;
    --magenta-8-rgb: 161, 16, 105;
    --magenta-9-rgb: 119, 6, 79;
    --magenta-10-rgb: 77, 0, 52;
    --gray-1-rgb: 247, 248, 250;
    --gray-2-rgb: 242, 243, 245;
    --gray-3-rgb: 229, 230, 235;
    --gray-4-rgb: 201, 205, 212;
    --gray-5-rgb: 169, 174, 184;
    --gray-6-rgb: 134, 144, 156;
    --gray-7-rgb: 107, 119, 133;
    --gray-8-rgb: 78, 89, 105;
    --gray-9-rgb: 39, 46, 59;
    --gray-10-rgb: 29, 33, 41;
}